name: integration-tests
on: 
  workflow_call:
jobs:
  integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install dependencies
        run: pip install --no-cache-dir -U pip .['test']
      - name: Run integration tests
        run: scripts/ci.py --test
