name: static-checks
on: 
  workflow_call:
jobs:
  static-checks:
    name: Run static checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install --no-cache-dir -U pip .['dev']
      - name: Lint check with flake8
        run: scripts/ci.py --lint
      - name: Format check with black
        run: scripts/ci.py --format
      - name: Type check with mypy
        run: scripts/ci.py --type 
      - name: CVE check with pip-audit
        run: scripts/ci.py --cve
      - name: Security check with bandit
        run: scripts/ci.py --security
